# Data Cleaning/Train Test Split

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv("./Data/card_transdata.csv")
data.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

In [7]:
data.describe()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,26.628792,5.036519,1.824182,0.881536,0.350399,0.100608,0.650552,0.087403
std,65.390784,25.843093,2.799589,0.323157,0.477095,0.300809,0.476796,0.282425
min,0.004874,0.000118,0.004399,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.878008,0.296671,0.475673,1.000000,0.000000,0.000000,0.000000,0.000000
50%,9.967760,0.998650,0.997717,1.000000,0.000000,0.000000,1.000000,0.000000
75%,25.743985,3.355748,2.096370,1.000000,1.000000,0.000000,1.000000,0.000000
max,10632.723672,11851.104565,267.802942,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
train, test = train_test_split(data, test_size=0.2)

In [12]:
print(train.shape)
train.head()

(800000, 8)

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
124380,5.572427,4.850337,1.149870,1.0,0.0,0.0,0.0,0.0
542060,5.327530,3.933291,1.682739,1.0,1.0,0.0,1.0,0.0
384313,78.945633,0.023222,2.740935,1.0,1.0,0.0,1.0,0.0
978928,10.119026,26.548445,1.945075,1.0,0.0,0.0,0.0,0.0
75682,33.646388,1.909240,0.888281,1.0,0.0,0.0,0.0,0.0

In [11]:
print(test.shape)
test.head()

(200000, 8)

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
347087,21.327578,0.704918,1.557605,1.0,0.0,0.0,0.0,0.0
818093,15.723964,1.027252,2.427100,1.0,1.0,0.0,1.0,0.0
277693,4.372871,7.025578,1.147645,1.0,0.0,0.0,1.0,0.0
930896,60.407419,58.951665,1.159635,1.0,1.0,0.0,1.0,0.0
768277,30.606684,2.371562,3.691512,1.0,0.0,0.0,0.0,0.0

In [19]:
train.to_csv("./Data/Train/train_data.csv", index=False)
test.to_csv("./Data/Test/test_data.csv", index=False)

In [22]:
print(pd.read_csv("./Data/Train/train_data.csv").shape)
pd.read_csv("./Data/Test/test_data.csv").shape

(800000, 8)

(200000, 8)

# Exploratory Data Analysis